<div class="container">
    <div class="hero-container">
        <div class="hero-content">
            <div class="hero-logo">{{ brand }}</div>
           <!--<div class="hero-slogan">{{ slogan }}</div>-->
            <h1 class="hero-title">{{ title }}</h1>
            <p class="hero-subtitle">
                {{ subtitle }}
            </p>
            <div class="cta-container">
                <a href="#cotizar" class="cta-primary">
                    Solicitar demo
                </a>
            </div>
        </div>
        <div class="hero-image">
            <div class="blob-background">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#e7ecff"
                        d="M54.7,-67.8C67.3,-54.7,71.2,-34,73.9,-13.8C76.5,6.4,77.9,26.1,69.3,39.2C60.8,52.4,42.4,59.1,23.8,66.2C5.2,73.3,-13.5,80.9,-24.8,74.2C-36.1,67.4,-40,46.4,-47.5,29.4C-55,12.4,-66.1,-0.6,-64.1,-11.3C-62.2,-21.9,-47.3,-30.3,-34.4,-43.3C-21.6,-56.4,-10.8,-74.2,5.2,-80.4C21.1,-86.5,42.2,-81,54.7,-67.8Z"
                        transform="translate(100 100)" />
                </svg>
            </div>
            <div class="image-container">
                <img src="https://i.imgur.com/walOSKQ.png" alt="Máquina expendedora Vendify" class="hero-img">
                <div class="floating-icon icon-1">
                    <i class="fas fa-wifi"></i>
                </div>
                <div class="floating-icon icon-2">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div class="floating-icon icon-3">
                    <i class="fas fa-mobile-alt"></i>
                </div>
            </div>
        </div>
    </div>
</div>