<section class="catalog-section">
    <div class="container">
        <div class="catalog-header">
            <h2 class="section-title">Catálogo de máquinas</h2>
            <p class="section-subtitle">Descubrí nuestras soluciones de vending de última generación</p>
        </div>

        <div class="machines-grid">
            <div *ngFor="let machine of machines">
                <app-machine-card  [machine]="machine">
                </app-machine-card>
            </div>
        </div>
    </div>
</section>